@import url("//hello.myfonts.net/count/2f01f3");
/* line 45, ../scss/styleguide.scss */
*,
*:before,
*:after {
  box-sizing: border-box;
}

/* line 50, ../scss/styleguide.scss */
.hidden {
  display: none !important;
}

/* line 62, ../scss/styleguide.scss */
a,
a:hover,
a:active,
a:focus,
button,
button:hover,
button:active,
button:focus {
  outline: none;
}

/* line 66, ../scss/styleguide.scss */
a {
  color: rgba(26, 130, 226, 0.8);
  text-decoration: none;
}

/* line 70, ../scss/styleguide.scss */
a:hover {
  color: #1a82e2;
}

@font-face {
  font-family: 'ProximaNova-Light';
  src: url('/stylesheets/fonts/style-guide/ProximaNova/2F4886_0_0.eot');
  src: url('/stylesheets/fonts/style-guide/ProximaNova/2F4886_0_0.eot?#iefix') format("embedded-opentype"), url('/stylesheets/fonts/style-guide/ProximaNova/2F4886_0_0.woff2') format("woff2"), url('/stylesheets/fonts/style-guide/ProximaNova/2F4886_0_0.woff') format("woff"), url('/stylesheets/fonts/style-guide/ProximaNova/2F4886_0_0.ttf') format("truetype");
}

@font-face {
  font-family: 'ProximaNova-LightIt';
  src: url('/stylesheets/fonts/style-guide/ProximaNova/2F4886_1_0.eot');
  src: url('/stylesheets/fonts/style-guide/ProximaNova/2F4886_1_0.eot?#iefix') format("embedded-opentype"), url('/stylesheets/fonts/style-guide/ProximaNova/2F4886_1_0.woff2') format("woff2"), url('/stylesheets/fonts/style-guide/ProximaNova/2F4886_1_0.woff') format("woff"), url('/stylesheets/fonts/style-guide/ProximaNova/2F4886_1_0.ttf') format("truetype");
}

@font-face {
  font-family: 'ProximaNova-Regular';
  src: url('/stylesheets/fonts/style-guide/ProximaNova/2F4886_2_0.eot');
  src: url('/stylesheets/fonts/style-guide/ProximaNova/2F4886_2_0.eot?#iefix') format("embedded-opentype"), url('/stylesheets/fonts/style-guide/ProximaNova/2F4886_2_0.woff2') format("woff2"), url('/stylesheets/fonts/style-guide/ProximaNova/2F4886_2_0.woff') format("woff"), url('/stylesheets/fonts/style-guide/ProximaNova/2F4886_2_0.ttf') format("truetype");
}

@font-face {
  font-family: 'ProximaNova-RegularIt';
  src: url('/stylesheets/fonts/style-guide/ProximaNova/2F4886_3_0.eot');
  src: url('/stylesheets/fonts/style-guide/ProximaNova/2F4886_3_0.eot?#iefix') format("embedded-opentype"), url('/stylesheets/fonts/style-guide/ProximaNova/2F4886_3_0.woff2') format("woff2"), url('/stylesheets/fonts/style-guide/ProximaNova/2F4886_3_0.woff') format("woff"), url('/stylesheets/fonts/style-guide/ProximaNova/2F4886_3_0.ttf') format("truetype");
}

@font-face {
  font-family: 'ProximaNova-Semibold';
  src: url('/stylesheets/fonts/style-guide/ProximaNova/2F4886_4_0.eot');
  src: url('/stylesheets/fonts/style-guide/ProximaNova/2F4886_4_0.eot?#iefix') format("embedded-opentype"), url('/stylesheets/fonts/style-guide/ProximaNova/2F4886_4_0.woff2') format("woff2"), url('/stylesheets/fonts/style-guide/ProximaNova/2F4886_4_0.woff') format("woff"), url('/stylesheets/fonts/style-guide/ProximaNova/2F4886_4_0.ttf') format("truetype");
}

@font-face {
  font-family: 'ProximaNova-SemiboldIt';
  src: url('/stylesheets/fonts/style-guide/ProximaNova/2F4886_5_0.eot');
  src: url('/stylesheets/fonts/style-guide/ProximaNova/2F4886_5_0.eot?#iefix') format("embedded-opentype"), url('/stylesheets/fonts/style-guide/ProximaNova/2F4886_5_0.woff2') format("woff2"), url('/stylesheets/fonts/style-guide/ProximaNova/2F4886_5_0.woff') format("woff"), url('/stylesheets/fonts/style-guide/ProximaNova/2F4886_5_0.ttf') format("truetype");
}

@font-face {
  font-family: 'ProximaNova-Thin';
  src: url('/stylesheets/fonts/style-guide/ProximaNova/2F4886_6_0.eot');
  src: url('/stylesheets/fonts/style-guide/ProximaNova/2F4886_6_0.eot?#iefix') format("embedded-opentype"), url('/stylesheets/fonts/style-guide/ProximaNova/2F4886_6_0.woff2') format("woff2"), url('/stylesheets/fonts/style-guide/ProximaNova/2F4886_6_0.woff') format("woff"), url('/stylesheets/fonts/style-guide/ProximaNova/2F4886_6_0.ttf') format("truetype");
}

@font-face {
  font-family: 'ProximaNova-ThinIt';
  src: url('/stylesheets/fonts/style-guide/ProximaNova/2F4886_7_0.eot');
  src: url('/stylesheets/fonts/style-guide/ProximaNova/2F4886_7_0.eot?#iefix') format("embedded-opentype"), url('/stylesheets/fonts/style-guide/ProximaNova/2F4886_7_0.woff2') format("woff2"), url('/stylesheets/fonts/style-guide/ProximaNova/2F4886_7_0.woff') format("woff"), url('/stylesheets/fonts/style-guide/ProximaNova/2F4886_7_0.ttf') format("truetype");
}

@font-face {
  font-family: 'Colfax-Light';
  src: url('/stylesheets/fonts/style-guide/Colfax/ColfaxWebLight.eot');
  src: url('/stylesheets/fonts/style-guide/Colfax/ColfaxWebLight.eot?#iefix') format("embedded-opentype"), url('/stylesheets/fonts/style-guide/Colfax/ColfaxWebLight.woff') format("woff");
}

@font-face {
  font-family: 'Colfax-Medium';
  src: url('/stylesheets/fonts/style-guide/Colfax/ColfaxWebMedium.eot');
  src: url('/stylesheets/fonts/style-guide/Colfax/ColfaxWebMedium.eot?#iefix') format("embedded-opentype"), url('/stylesheets/fonts/style-guide/Colfax/ColfaxWebMedium.woff') format("woff");
}

@font-face {
  font-family: 'Proxima N W15 Light';
  src: url('/stylesheets/fonts/style-guide/ProximaNova/2F4886_0_0.eot');
  src: url('/stylesheets/fonts/style-guide/ProximaNova/2F4886_0_0.eot?#iefix') format("embedded-opentype"), url('/stylesheets/fonts/style-guide/ProximaNova/2F4886_0_0.woff2') format("woff2"), url('/stylesheets/fonts/style-guide/ProximaNova/2F4886_0_0.woff') format("woff"), url('/stylesheets/fonts/style-guide/ProximaNova/2F4886_0_0.ttf') format("truetype");
}

@font-face {
  font-family: 'Proxima N W15 Reg';
  src: url('/stylesheets/fonts/style-guide/ProximaNova/2F4886_2_0.eot');
  src: url('/stylesheets/fonts/style-guide/ProximaNova/2F4886_2_0.eot?#iefix') format("embedded-opentype"), url('/stylesheets/fonts/style-guide/ProximaNova/2F4886_2_0.woff2') format("woff2"), url('/stylesheets/fonts/style-guide/ProximaNova/2F4886_2_0.woff') format("woff"), url('/stylesheets/fonts/style-guide/ProximaNova/2F4886_2_0.ttf') format("truetype");
}

@font-face {
  font-family: 'Proxima N W15 Smbd';
  src: url('/stylesheets/fonts/style-guide/ProximaNova/2F4886_4_0.eot');
  src: url('/stylesheets/fonts/style-guide/ProximaNova/2F4886_4_0.eot?#iefix') format("embedded-opentype"), url('/stylesheets/fonts/style-guide/ProximaNova/2F4886_4_0.woff2') format("woff2"), url('/stylesheets/fonts/style-guide/ProximaNova/2F4886_4_0.woff') format("woff"), url('/stylesheets/fonts/style-guide/ProximaNova/2F4886_4_0.ttf') format("truetype");
}

/* line 253, ../scss/styleguide.scss */
body {
  font-family: ProximaNova-Light;
  color: rgba(41, 70, 97, 0.6);
}

/* line 261, ../scss/styleguide.scss */
h1,
h2,
h3,
h4 {
  display: block;
  margin-bottom: 10px;
  font-family: Colfax-Light;
  font-weight: normal;
}

/* line 268, ../scss/styleguide.scss */
h1 {
  margin-bottom: 27px;
  font-size: 36px;
  line-height: 40px;
  color: #294661;
}

/* line 275, ../scss/styleguide.scss */
h2 {
  margin-bottom: 18px;
  font-size: 24px;
  line-height: 30px;
  color: #294661;
}

/* line 282, ../scss/styleguide.scss */
h3 {
  margin-bottom: 13px;
  font-size: 20px;
  line-height: 24px;
  color: rgba(41, 70, 97, 0.6);
}

/* line 289, ../scss/styleguide.scss */
h4 {
  margin-bottom: 12px;
  font-family: Colfax-Medium;
  font-size: 16px;
  line-height: 20px;
  color: #294661;
  letter-spacing: 1px;
}

/* line 298, ../scss/styleguide.scss */
.error {
  color: #b71c1c;
}

/* line 302, ../scss/styleguide.scss */
.small {
  font-family: ProximaNova-Regular;
  font-size: 13px;
  line-height: 20px;
}

/* line 308, ../scss/styleguide.scss */
p {
  margin-bottom: 27px;
  font-size: 18px;
  line-height: 27px;
}

/* line 314, ../scss/styleguide.scss */
strong {
  font-family: ProximaNova-Semibold;
}

/* line 318, ../scss/styleguide.scss */
em {
  font-family: ProximaNova-LightIt;
}

/* line 323, ../scss/styleguide.scss */
strong em,
em strong {
  font-family: ProximaNova-SemiboldIt;
}
